<h1> TEAMS! </h1>

<div class='row'>
	<div class='col-lg-6'>
		<h1> Templates </h1>
		<% @template_teams.each do |team| %>
			<ul id='team_list'>
				<li>
					<%= link_to team.team_name, edit_team_path(team) %></br>
				</li>
			</ul>
		<% end %>

		<%= link_to "New Team", new_team_path, :class => "btn btn-success" %>

	</div>

	<div class='col-lg-6'>
		<h1> Copies </h2>

		<table>
			<tr>
				<th>Name</th>
			</tr>
			<% @copied_teams.each do |team| %>
				<tr>
					<td> <%= check_box_tag 'team_ids[]', team.id %> </td>
					<td> <%= team.team_name %> </td>
					<td> <%= link_to 'Edit', edit_team_path(team) %> </td>
					<td> <%= link_to 'Destroy', team, method: :delete %> </td>
				</tr>
			<% end %>
		</table>
		<%= link_to "DESTROY ALL COPIES", :class => "btn btn-danger" %>
	</div>
</div>


