<%= form_for(@player) do |f| %>
<%if 2 == 1%>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%end%>

  <div class="fields">

    <div class="form-group">
      <%= f.label "Player Name:" %>
      <%= f.text_field :name %>
    </div>
    <div class="form-group">
      <%= f.label "Player Position:" %>
      <%= f.text_field :position %>
    </div>
    <div class="form-group">
      <%= f.label "Player Team:" %>
      <%= f.text_field :team %>
    </div>
    <div class="form-group">
      <%= f.label "Fantasy Points 2013:" %>
      <%= f.text_field :points_2013 %>
    </div>
    <div class="form-group">
      <%= f.label "Bye Week:" %>
      <%= f.text_field :bye_week %>
    </div>
    <div class="form-group">
      <%= f.label "ADP:" %>
      <%= f.text_field :adp %>
    </div>
    <div class="form-group">
      <%= f.label "Tier:" %>
      <%= f.text_field :tier %>
    </div>
    <div class="form-group">
      <%= f.label "Beer Value:" %>
      <%= f.text_field :beer_value %>
    </div>
    <div class="form-group">
      <%= f.label "Drafted Status:" %>
      <%= f.text_field :drafted %>
    </div>

    <%= f.file_field :avatar %>

    <%= f.submit 'Add Player', :class => "btn btn-info" %>
  </div>
<% end %>
