<div class='row top_header'>
  <div class='col-lg-12'>
    <div class='row'>
      <div class='col-lg-4'>

        <p class='top_choices'> QBs </p>
        <p class='top_choices'> HBs </p>
        <p class='top_choices'> WRs </p>

      </div>
      <div class='col-lg-4'>
        <p class='top_choices'> DRAFT #: <%= @draft.draft_position %> </p>
        <p class='top_choices'> Teams: <%= @draft.number_of_teams %> </p>
        <p class='top_choices'>  </p>

      </div>
      <div class='col-lg-4'>
        <p class='top_choices'> PPR </p>
        <p class='top_choices'> PPC </p>
        <p class='top_choices'> PPTD </p>
      </div>
    </div>
  </div>
</div>


<div class='row draft-center'>
  <div class='col-lg-2 master_list'>
    <div id='player_list'>

      <p> Player List </p>



      <ul>
        <% @draft.players.each do |player| %>
          <li><%= player.name %></li>
        <% end %>
      </ul>


    </div>
  </div>

  <div class='col-lg-8'>
    <div id='recommendations'>
      <p id='rec_title'> BEST AVAILABLE:</p>

        <div class = 'row'>
          <% @draft.best_available.each do |player| %>
            <div class = 'col-lg-4'>
              <div class='player_box'>
                <div class='player_pic'>
                  <%= image_tag player.avatar.url(:medium) %>
                </div>
                Player: <%= player.name %></br>
                Team: <%= player.team %></br>
                Beer Value: <%= player.beer_value %> </br>
                ADP: <%= player.adp %> </br>
                Bye Week: <%= player.bye_week %></br>


                <%= link_to 'Draft', edit_player_path(player), :class => "btn btn-success" %><%= link_to 'Remove', player, method: :delete, :class => "btn btn-danger" %>


              </div>
            </div>
          <% end %>
        </div>



    </div>

    <div class='position_tracking'>
      <div class='row'>
        <div class='col-lg-2 remaining'>

          <h5>QBs:</h5>
            <% @draft.players.each do |player| %>
              <% if player.position == 'QB' %>
                <%= player.name %> </br>
              <% end %>
            <% end %>

        </div>

        <div class='col-lg-2 remaining'>


          <h5>HBs:</h5>
            <% @draft.players.each do |player| %>
              <% if player.position == 'HB' %>
                <%= player.name %> </br>
              <% end %>
            <% end %>

        </div>

        <div class='col-lg-2 remaining'>

          <h5>WRs:</h5>
            <% @draft.players.each do |player| %>
              <% if player.position == 'WR' %>
                <%= player.name %> </br>
              <% end %>
            <% end %>

        </div>

        <div class='col-lg-2 remaining'>

          <h5>TEs:</h5>
            <% @draft.players.each do |player| %>
              <% if player.position == 'TE' %>
                <%= player.name %> </br>
              <% end %>
            <% end %>

        </div>

        <div class='col-lg-2 remaining'>

          <h5>DEFs:</h5>
            <% @draft.players.each do |player| %>
              <% if player.position == 'DEF' %>
                <%= player.name %> </br>
              <% end %>
            <% end %>

        </div>

        <div class='col-lg-2 remaining'>

          <h5>Ks:</h5>
            <% @draft.players.each do |player| %>
              <% if player.position == 'K' %>
                <%= player.name %> </br>
              <% end %>
            <% end %>

        </div>
      </div>
    </div>

  </div>
  <div class='col-lg-2'>
    <div class='roster'>
      <p>Drafted players will appear here.  A team rundown at each position will be available. </p>
      <ul>
        <li> QB:  </li>
        <li> HB:  </li>
        <li> WR:  </li>
        <li> TE:  </li>
        <li> DEF: </li>
        <li> K: </li>
        <li> FLEX: </li>
        <li> BENCH: </li>
      </ul>
    </div>




    <div class='under_roster'>
      <p> Draft Order: </p>
      <div class='content-area order-list'>
        <% @draft.order.each do |team| %>
          <p> <%= team.team_name %></p>
        <% end %>
      </div>
    </div>



  </div>
</div>


<div class='row footer'>
  <div class='col-lg-12 bottom_footer'>
    <p> I don't know what will go at the bottom of the page.</p>
  </div>
</div>
